<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WelcomeTemplate" value="templates\Welcome.cshtml"/>
    <add key="LoginUrl" value="http://example.com/login"/>
    <add key="SenderAddress" value="noreply@example.com"/>
  </appSettings>
  <system.net>
    <mailSettings >
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="d:\outbox"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>